@using HumanResource.Models.Common;

@model List<Shift>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <br />
</div>
<div class="row col-3">
    @*<button onclick="location.href='@Url.Action("CategoryCreate")'" class="btn btn-block btn-outline-dark btn-sm">Create Category</button>*@
    <a class="btn btn-app ml-3">
        <i class="fa fa-plus-circle" onclick="location.href='@Url.Action("ShiftCreate")'"></i> Add Shift
    </a>

</div>
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12">
                <h1>Shift List</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->

</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                        <div class="card-tools">
                            <div class="input-group input-group-sm" style="width: 150px;">
                                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">

                                <div class="input-group-append">
                                    <button type="submit" class="btn btn-default">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0" style="height: 300px;">
                        <table class="table table-head-fixed text-nowrap">

                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count == 0)
                                {
                                    <tr>
                                        <td>
                                            <p>No Shifts found.</p>
                                        </td>
                                    </tr>

                                }
                                else
                                {

                                    @foreach (var employee in Model)
                                    {
                                        <tr>
                                            <td>@employee.Id</td>
                                            <td>@employee.Name</td>
                                        </tr>
                                    }

                                }
                            </tbody>
                        </table>


                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>

    </div>
</section>


